/*CSS is a fun, strange puzzle... venture down the rabbit whole whith me*/

html {

  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f0f0f0),to(#f0f0f0));

}

body {

	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f0f0f0),to(#f0f0f0));

}

/*Dropdown menu*/

.menu {

  margin-left: 10px;

}

.menu ul {

	margin-top:0px;

	width:50px;

}

.menu ul li{

	text-decoration: none;

	list-style: none;

}

.menu ul li i {

	color: #ffffff;

	font-size: 50px;

}

.menu ul li i:hover, :active {

	color: #cb623c;

}

.menu  ul li ul {

    background: #ffffff;

    visibility: hidden;

    float: left;
  	
    min-width: 150px;
    
    position: absolute;
  
  	transition: visibility 0.25s ease-in;
  
  	margin-top:3px;
  
    left: 0;
  
    z-index: 999;

}

.menu ul li:hover > ul,

.menu ul li i:hover {

   visibility: visible;

}

.menu ul li ul li a{

   text-decoration: none;

   color:#000000;

   font-size: 16px;

   letter-spacing: .1em;

}

.menu ul li ul li > a:hover{

   color: #cb623c;

}

.books{

	z-index:1000;

}

.query {

	float:left;

	position:absolute;

	margin-left: 100px;

	margin-top:20px;
	
}

h1{  

  font-family: 'News Cycle', sans-serif;

}

.controls {

  padding-bottom: 20px;

  margin-bottom: 10px;

}

.container {

}

.container .row blockquote {

  border-left: 0px !Important;

}

.books {

  padding-top: 10px;

  padding-bottom: 10px;

 /* min-height: 420px;*/

 border-bottom: 3px solid #607d8b;

}

.result>div.col-md-4 {

  min-height: 550px;

  max-width: 320px;

}

.result>div.col-md-6 {

  min-height: 120px;

}

.row{

  /*background: url(images/blue-texture.png);*/

}

.logo{

  width:75px;

}

.img-thumbnail{
 
  border: none;

}

#search{

  margin-left: 10px;

  margin-right:10px;

  width:95%;

}

h2{

  margin-left: 5px;

}

h3{

  font-size: 20px;

  margin-left: 10px;

  line-height: 20px;

}

h4{

  font-size: 16px;

  margin-left: 15px;

  line-height: 15px;

}

p{

  margin-left: 20px;

  line-height: 15px;}

a:hover {

  text-decoration: none;
}

.input-group{

  margin-bottom: 20px;

}

.bookdetails{

}

.heading{

  font-family: 'Lato', sans-serif;

  font-size: 5em;

  font-weight: 100;

  font-style: italic;

  text-align:center;

  position:absolute;

  margin-left: 30%;

  color: #cfd8dc;

  z-index: 1;

}

.heading a{

    color: #cfd8dc;

}

legend{

  margin-left: 10px;

  color: #78909c;


}

input{

  height:30px;

}

.secondlevelbookdetails{

  margin-left: 10px;
  
  display: inline-block;

}

.secondlevelbookdetails img{

  width:100px;

  float:left;

  margin-top: 10px;

}

.blurb{

  margin-left:110px;

}

span{

  padding-left: 10px;

}

ul li {

  float:left;

}

.categories{

  margin-left:10px;

}

input {

    -webkit-appearance: none !important;
   
   -webkit-border-radius:0px !important; 

    border-radius: 0 !important;

}

.animate-enter, .animate-leave {

transition: 500ms ease-in all;

position: relative;

display: block;

} 

.animate-enter.animate-enter-active, .animate-leave {

top: 0;

}

.animate-leave.animate-leave-active, .animate-enter {

top: 500px;

}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {

  opacity:0; 

  -webkit-animation:fadeIn ease-in 1;  
  
  -moz-animation:fadeIn ease-in 1;
  
  animation:fadeIn ease-in 1;

  
  -webkit-animation-fill-mode:forwards;  
  
  -moz-animation-fill-mode:forwards;
  
  animation-fill-mode:forwards;

  
  -webkit-animation-duration:1s;
  
  -moz-animation-duration:1s;
  
  animation-duration:1s;

}


/* Smartphones (portrait and landscape) ----------- */

@media only screen 

and (min-device-width : 320px) 

and (max-device-width : 480px) {

h4{

  line-height: 20px;

}

.heading{

  font-size: 2.8em;

}

}
